@font-face {
  font-family: ASTOM;
  src: local("ASTOM"),
    url(./static/fonts/ASTOM.TTF) format("truetype");
  font-weight: normal;
}
@font-face{
  font-family: ROBOTO-LIGHT;
  src: local("ROBOTO-LIGHT"),
  url(./static/fonts/ROBOTO-LIGHT.TTF) format("truetype");
}
@font-face{
  font-family: ROBOTO-MEDIUM;
  src: local("ROBOTO-MEDIUM"),
  url(./static/fonts/ROBOTO-MEDIUM.TTF) format("truetype");
}
@font-face{
  font-family: ROBOTO-REGULAR;
  src: local("ROBOTO-REGULAR"),
  url(./static/fonts/ROBOTO-REGULAR.TTF) format("truetype");
}
